.table-responsive{
   padding : 30px !important; 
}
/*.btn-purple{*/
/*    color: #fff;*/
/*    background-color: #4b38b3 !important; */
/*    border-color: #4b38b3 !important;*/
/*}*/
.toggle-group .toggle-handle{
        background-color: #ffffff !important;
}